<div class="alert alert-danger col-3" role="alert" *ngFor = 'let err of errMsg'>
    {{err}}
  </div>
<div class="d-flex justify-content-center align-items-center auth-container">
    <div class="col-3 mx-auto shadow-lg rounded text-center p-4 rounded form">
        <ul class="tab-group d-flex justify-content-center my-4">
            <li><a routerLink="signIn" routerLinkActive='active'>Sign In</a></li>
            <li><a routerLink="signUp" routerLinkActive='active'>Sign Up</a></li>
        </ul>
        <router-outlet></router-outlet>
    </div>
</div>