<h2>Sign Up</h2>

      <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" id="name" class="form-control" placeholder="your name" [(ngModel)]="name">
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" id="email" class="form-control" placeholder="your email" [(ngModel)]="email">
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">password</label>
        <input type="password" id="password" class="form-control" placeholder="your password" [(ngModel)]="password">
      </div>
      <button type="submit" class="btn mt-4" (click)='submit()'>Sign up</button>